html, body, #content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #1d2025;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1d2025;
    z-index: 1;
}

#projectSideList {
    width: 15%;
    height: 100%;
    background-color: #202932;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projectSideList.hiddenSideBar {
    transform: translate(-999px, 0px);
    width:0%;
    transition: 1s;
}

#projectSideList.visibleSideBar {
    transition: 0.8s;
}

#sideBarList {
    margin: 0px;
    padding: 0px;
    margin-top: 75px;
    width: 100%;
}

h1.projectListTitle {
    color: #cbd2d9;
    font-size: 1.5rem;
    margin: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1.projectListTitle:hover {
    cursor: pointer;
    background-color: #3e4c5936;
    transition: 0.75s;
    padding-left:20px;
}

#projectList {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#projectList.hidden {
    transform: translate(0px, -999px);
}

.projectListItem {
    color: #cbd2d9;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.10rem;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.projectListItem:hover {
    cursor: pointer;
    background-color: #3e4c5936;
}

#newProjectButtonHolder {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.0s;
}

#newProjectButton {
    border-radius: 25px;
    background-color: #ecc197;
    width: 80%;
    color: #202932;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}

#newProjectButton:hover {
    background-color: #e9b887;
    cursor: pointer;
    transition: 0.25s;
}

.buttonText {
    margin:0px;
    padding: 1px;
}

#newProjectCreator {
    transition: 1.0s;
    margin-left: 10px;
    height:100px;
    width: 90%;
    background-color: #1d2025;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#newProjectNameInput {
    box-sizing: border-box;
    background-color: #202932;
    width: 90%;
    border: solid transparent;
    border-radius: 25px;
    height: 30px;
    margin-top: 20px;
    color:#cbd2d9;
    padding-left: 15px;
}

#newProjectNameInput:focus   {
    border: transparent;
    outline: none;
}

#todoList {
    height: 100%;
    width: 65%;
}

#todoListNav {
    margin: 0;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 120px;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 50px;
    grid-column-gap: 10px;
    grid-template-areas:
    'hamburgerNav projectName'
    'searchBar searchBar';
    
}

.hamburgerNavIcon {
    height: 20px;
    width: auto;
    grid-area: hamburgerNav;
}

.hamburgerNavIcon:hover {
    cursor: pointer;
}

#todoListProjectName {
    color: #cbd2d9;
    margin: 0px;
    padding: 0px;
    grid-area: projectName;
    font-size: 1.75rem;
}

#newTodoInput {
    background-color: #202932;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: transparent;
    color:#cbd2d9;
    font-size: 1rem;
    padding: 25px;
    grid-area: searchBar;
    border-radius: 25px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    z-index: 99;
    position: relative;
}

#newTodoInput:focus {
    border: transparent;
    outline: none;
}

#inputPageBackground {
    z-index: 98;
    width: 100%;
    height: 100%;
    position: absolute;
}

#todoListTodosHolder {
    margin: 0;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.projectDoneList {
    margin-top: 20px;
}

.projectToDoList {
    margin-bottom: 20px;
}

.todo {
    color: #cbd2d9;
    font-size: 1.05rem;
    border-bottom: solid 1.5px #cbd2d93a;
    display: flex;
    align-items: center;
    text-align: start;
    height: auto;
    justify-content: center;
    box-sizing: border-box;
    z-index: 5;
}

.todoPriorityLow {
    border-left:solid 3px #1FDE6D;
}

.todoPriorityMedium {
    border-left: solid 3px#1F91DE;
}

.todoPriorityHigh {
    border-left: solid 3px #DE1F31;
}

.todo:hover {
    cursor: pointer;
    background-color: #3e4c5936;
    transition: 0.75s;
}

.todoCheckBox {
    position: relative;
    left: 10px;
}

.todoMain {
    width: 90%;
    height: 100%;
    padding: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    left: 5px;
    right: 0px;
    padding-left: 0px;
}

.todoText {
    margin:0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin-left: 10px;
}

.todoDoneText {
    color: #cbd2d973;
    text-decoration: line-through;
}



.todoDueDate {
    text-align: end;
    width: auto;
    margin-right: 10px;
}

.removeX {
    margin: 0px;
    padding-right: 5px;
}

.projectDivName {
    color:#cbd2d9;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1.5px #cbd2d93a; 
    font-size: 1.2rem;
}

.finishedDivName {
    color: #cbd2d973;
}

.projectDivName:hover {
    cursor: pointer;
}

h1.viewingContent, p.viewingContent, li.viewingContent {
    padding-left: 16px;
    border-left: solid 4px #cbd2d9;
}

h1.viewingContent:hover, p.viewingContent:hover li.viewingContent:hover {
    padding-left: 16px;
    background-color: #202932;
    transition: none;
}

#todoInformation {
    height: 100%;
    width: 35%;
    background-color: #1d2025;
    border-left: solid .0025rem #1f2933;
    color: #cbd2d9;
    box-sizing: border-box;
    overflow-x:hidden;
}

#todoInformationHeader {
    background-color: #202932;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todoInformationTitle {
    background-color: transparent;
    font: inherit;
    font-size: 3vw;
    color: inherit;
    border: solid transparent;
    text-align: center;
    width: auto;
    overflow: hidden;
}

#todoInformationTitle:focus {
    border: transparent;
    outline: none;
}

#todoInformationTitle::selection {
    color: #202932;
    background: #cbd2d9;
  }

#todoInformationTitle.editingNote {
    position: relative;
    z-index: 99;
}

#todoInformationContent {
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#todoInformationDetails {
    display: flex;
    position: relative;
    width:100%;
    height:auto;
    justify-content: center;
}

.toDoDetailSelector.hideToDoDetailSelector {
    position: absolute;
    transform: translate(999px, 0px);
    width: 0;
    height: 0%;
}

#todoPrioritySelectorDiv {
    display: flex;
    background-color: #202932;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    
    
}

#todoPrioritySelectorDiv:hover {
    cursor: pointer;
} 

#todoPrioritySelectorDiv.currentPriorityLow {
    border: solid 1px #1FDE6D;
}

#todoPrioritySelectorDiv.currentPriorityMedium {
    border: solid 1px #1F91DE;
}
#todoPrioritySelectorDiv.currentPriorityHigh {
    border: solid 1px #DE1F31;
    
}

#todoPrioritySelectorDiv.selectingPriority {
    width: 52%;
    height: auto;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
}


#prioritySelectorMarks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.priorityMark {
    margin: 1px;
    font-size: 1.25rem;
}

#prioritySelectorChoices {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.priorityButton {
    margin: 4px;
    padding: 8px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    border-radius: 25px;
    border: solid 2px transparent;
    box-sizing: border-box;
    padding: 15px;
}

.priorityButton:hover {
    border: solid 2px #cbd2d9;
}

#priorityNone {
    background-color: #515a61;
}

#priorityLow {
    background-color: #1FDE6D;
    color: #202932;
}

#priorityMedium {
    background-color: #1F91DE;
    color: #202932;
}

#priorityHigh {
    background-color: #DE1F31;
    color: #cbd2d9;
}

#todoDueDateSelectionDiv {
    display: flex;
    background-color: #202932;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
}

#todoDueDateSelectionDiv:hover {
    cursor: pointer;
}

#todoDueDateSelectionDiv.selectingDate {
    width: auto;
    height: auto;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    position: relative;
    z-index: 99;
}

#todoInformationCalIcon {
    position: relative;
    z-index: 100;
}
#dueDateInput {
    background-color: transparent;
    color: #cbd2d9;
    border: solid 1px transparent;
    font: inherit;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
}

#dueDateInput:focus {
    border: transparent;
    outline: none;
}

::selection {
    color: #202932;
    background-color: #cbd2d9;
}

#submitDueDateButton {
    margin-top:10px;
    background-color: #ecc197;
    border-radius: 25px;
    color:#202932;
    padding: 8px;
}

#todoInformationNotes {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin:10px;
}

#todoInformationNotesName {
    margin: 0px;
}
#todoInformationNotesName:hover {
    cursor: default;
}

#todoInformationNotesText {
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    border: solid 1px transparent;
}

#todoInformationNotesText:hover {
    cursor: pointer;
}

#todoInformationNotesInput {
    color: inherit;
    font-size: 1rem;
    font-family: inherit;
    border: solid 1px transparent;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    height: 80%;
    background-color: #1d2025;
    box-shadow: none;
    resize: none;
    outline: none;
    
}

#todoInformationNotesInput.editingNote {
    position: relative;
    z-index: 99;
}

#todoInformationDueDateDiv {
    height:auto;
    width:auto;
    margin-top: 10px;
}

#todoInformationDueDate {
    margin: 0px;
    padding: 0px;
    
}

#todoInformationFooter {
    background-color: #202932;
    height: 15%;
    display: flex;
    position: relative;
}

#changeProjectDiv {
    position: absolute;
    font-family: inherit;
    color:#202932;
    background-color: #ecc197;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    left: 0; bottom: 20px; right: 0;
    box-sizing: border-box;
}

#changeProjectDiv:hover {
    cursor: pointer;
    
}

#todoInformationFooter.changingProject {
    position: relative;
}

#changeProjectDiv.changingProject {
    z-index: 99;
    height: auto;
}

.changeProjectItem {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    border: solid 2px transparent;
    margin-top: 10px;
    width: auto;
    position: relative;
    z-index: 100;
}

#currentProjectChangeName {
    position: relative;
    margin: auto;
    left: 0; bottom: 0; right: 0; top: 0;
    width: auto;
}

.nonSelectedChangeProject {
    border-radius: 25px;
    background-color: #515a61;
    max-width: 90%;
    width: auto;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nonSelectedChangeProject:hover {
    border: solid 2px #cbd2d9;
}


@media only screen and (max-width: 1000px) {
    #projectSideList {
        width: 30%;
    }
    #todoPrioritySelectorDiv.selectingPriority {
        width: 80%;
    }
}