html, body, #content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #1d2025;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1d2025;
    z-index: 1;
}

#projectSideList {
    width: 15%;
    height: 100%;
    background-color: #202932;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projectSideList.hiddenSideBar {
    transform: translate(-999px, 0px);
    width:0%;
    transition: 1s;
}

#projectSideList.visibleSideBar {
    transition: 0.8s;
}

#sideBarList {
    margin: 0px;
    padding: 0px;
    margin-top: 75px;
    width: 100%;
}

h1.projectListTitle {
    color: #cbd2d9;
    font-size: 1.5rem;
    margin: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1.projectListTitle:hover {
    cursor: pointer;
    background-color: #3e4c5936;
    transition: 0.75s;
    padding-left:20px;
}

#projectList {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#projectList.hidden {
    transform: translate(0px, -999px);
}

.projectListItem {
    color: #cbd2d9;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.10rem;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.projectListItem:hover {
    cursor: pointer;
    background-color: #3e4c5936;
}

#newProjectButtonHolder {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.0s;
}

#newProjectButton {
    border-radius: 25px;
    background-color: #ecc197;
    width: 80%;
    color: #202932;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}

#newProjectButton:hover {
    background-color: #e9b887;
    cursor: pointer;
    transition: 0.25s;
}

.buttonText {
    margin:0px;
    padding: 1px;
}

#newProjectCreator {
    transition: 1.0s;
    margin-left: 10px;
    height:100px;
    width: 90%;
    background-color: #1d2025;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#newProjectNameInput {
    box-sizing: border-box;
    background-color: #202932;
    width: 90%;
    border: solid transparent;
    border-radius: 25px;
    height: 30px;
    margin-top: 20px;
    color:#cbd2d9;
    padding-left: 15px;
}

#newProjectNameInput:focus   {
    border: transparent;
    outline: none;
}

#todoList {
    height: 100%;
    width: 65%;
}

#todoListNav {
    margin: 0;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 50px;
    grid-column-gap: 10px;
    grid-template-areas:
    'hamburgerNav projectName'
    'searchBar searchBar';
    
}

.hamburgerNavIcon {
    height: 20px;
    width: auto;
    grid-area: hamburgerNav;
}

.hamburgerNavIcon:hover {
    cursor: pointer;
}

#todoListProjectName {
    color: #cbd2d9;
    margin: 0px;
    padding: 0px;
    grid-area: projectName;
    font-size: 1.75rem;
}

#newTodoInput {
    background-color: #202932;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: transparent;
    color:#cbd2d9;
    font-size: 1rem;
    padding: 25px;
    grid-area: searchBar;
    border-radius: 25px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    z-index: 99;
}

#newTodoInput:focus {
    border: transparent;
    outline: none;
}

#inputPageBackground {
    z-index: 98;
    width: 100%;
    height: 100%;
    position: absolute;
}

#todoListTodosHolder {
    margin: 0;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.projectToDoList {
    margin-bottom: 20px;
}

.todo {
    color: #cbd2d9;
    font-size: 1.05rem;
    border-bottom: solid 1.5px #cbd2d93a;
    display: flex;
    align-items: center;
    text-align: start;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.todo:hover {
    cursor: pointer;
    background-color: #3e4c5936;
    transition: 0.75s;
}

.todoText {
    margin:0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.todoDueDate {
    text-align: end;
    width: auto;
    margin-right: 20px;
}

.removeX {
    height: 12px;
    width: auto;
}

#todoInformation {
    height: 100%;
    width: 35%;
    background-color: #1d2025;
    border-left: solid .0025rem #1f2933;
}

.projectDivName {
    color:#cbd2d9cb;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1.5px #cbd2d93a; 
    font-size: 1.2rem;
}

.projectDivName:hover {
    cursor: pointer;
}

h1.viewingContent, p.viewingContent, li.viewingContent {
    padding-left: 16px;
    border-left: solid 4px #cbd2d9;
}

h1.viewingContent:hover, p.viewingContent:hover li.viewingContent:hover {
    padding-left: 16px;
    background-color: #202932;
    transition: none;
}




@media only screen and (max-width: 1000px) {
    #projectSideList {
        width: 30%;
    }
}